*{
    margin: 0%;
    padding: 0%;
}
#playArea{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
#GHBVid{
    display: none;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: #210b30;
}
#icons{
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.ikoner {
    position:relative;
    left: 7em;
    bottom: 18em;
    width: 200%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 600px ){
    #playArea{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 30%;  
    }
    #GHBVid{
        display: none;
        margin-left: auto;
        margin-right: auto;
        width: 30%;  
    }
    .ikoner {
        width: 40%;
        position:relative;
        padding: none;
    }
    #icons{
        display:flex;
        margin: auto;
    }
    #icons{
        display: flex;
        position: relative;
        margin-left:20%;
        margin-right: 16%;
        margin-top: 20px;
    }
}
@media (max-width: 599px ){
    #playArea{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 100%;  
    }
    .ikoner {
        width: 30%;
        position:relative;
        left: auto;
        padding: none;
        right: auto;
        bottom: 10%;
    }
    #playArea{
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}
