*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #210b30;
}
#GHBVid {
    display: none;
}

#game {
    border: 4px solid red;
    display: flex;
    justify-content: center;
}
#icons {
    border: 4px solid yellow;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    #icons {
        position: relative;
        left: auto;
        top: auto;
        transform: none;
        justify-content: center;
    }
    #alchohol #Cannabis #cocain #Ecstasy #GHBIkon #LSD{
        width: 80%;
    }
}

